/*
.div {
    background-color:  red;
    display: inline;
}

.span {
    background-color: green;
}
*/
* {
    margin: 0;
}

div{
    color: white;
}

.box1{
    background-color: black;
    padding: 20px;
}

.box2{
    background-color: blue;
    padding-top: 20px;
    height: 400px;
    width: 45%;
    display: inline-block;
}

.box3{
    background-color: red;
    padding-right: 33px;
    height: 360px;
    width: 50%;
    display: inline-block;
}

.box4{
    background-color: greenyellow;
    padding: 20px;
}
